// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #40d5f0 ;
$gray-400: #40d5f0 ;
$gray-500: #40d5f0 !default;
$gray-600: #40d5f0 !default;
$gray-700: #40d5f0 ;
$gray-800: #40d5f0 ;
$gray-900: #40d5f0 ;
$black: #000 !default;

$primary: #F05F40 !default;
